name: Publish to Marketplace

on:
  workflow_run:
    workflows: [Release]
    types:
      - completed

jobs:
  package:
    uses: ./.github/workflows/package.yml
    secrets: inherit

  publish:
    needs: package
    runs-on: ubuntu-latest
    steps:
      - name: Download vsix from package
        uses: actions/download-artifact@v3
        with:
          name: darkpetrol-extension
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSX_PAT }}
          extensionFile: ${{ needs.package.outputs.vsixpath }}
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ needs.package.outputs.vsixpath }}
